[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/4vel/python-intro/blob/main/Hometask/Task2_dmrf_visual.ipynb)

# Задание

* Используя данные об объектах недвижимости на сайте "наш.дом.рф" или cian.ru, провести мини-исследование рынка строящейся/готовой недвижимости в одном или нескольких регионах с помощью pandas, matplotlib, seaborn, plotly и других инструментов.
#### Идеи для мини-исследования
* Рассчитать средние цены за квадратный метр по регионам. Важно чтобы пропуски не учитывались при расчете средней цены.
* Рассчитать объемы вводимого жилья по регионам и по годам.
* Сравнить этажность домов, количество квартир, жилую площадь, количество парковочных мест и цену за квадратный метр в разных регионах.
* Визуализировать разброс, связь, доли, распределение этих показателей по регионам.
* Сделать выводы по каждому из расчетов и графиков

In [1]:
import pandas as pd

In [18]:
df = pd.read_pickle('df_nashdomrf.pkl')
df.head(2)

,id,hobjId,pdId,region,address,floorMin,floorMax,objElemLivingCnt,objReady100PercDt,wallMaterialShortDesc,...,metro.time,metro.isWalk,metro.colors,complexShortNm,airQualityIndexValue,greenAreaIndexValue,developer.bankruptStage.bankruptStageCd,developer.bankruptStage.bankruptStageDesc,developer.bankruptStage.bankruptLawUrl,developer.orgBankruptMsgDttm
0,13399,34754,28141,72,"г Тюмень, ул Профсоюзная, д. 56",1,1,0,2024-12-31,Другое,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13397,37201,28141,72,"г Тюмень, ул Профсоюзная, д. 56",6,12,65,2024-12-31,Другое,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# Оставляем только необходимые для анализа столбцы
df = df [['region', 'developer.regRegionDesc'  , 'objPriceAvg', 'objTransferPlanDt' , 'objFloorCnt', 'objFlatCnt', 'objElemParkingCnt', 'objElemLivingCnt', 'objSquareLiving']]

In [23]:
df.head(5)

,region,developer.regRegionDesc,objPriceAvg,objTransferPlanDt,objFloorCnt,objFlatCnt,objElemParkingCnt,objElemLivingCnt,objSquareLiving
0,72,Тюменская область,50768.0,28-02-2025 12:00,1,0,125,0,0.00
1,72,Тюменская область,47163.0,28-02-2025 12:00,12,65,0,65,6251.10
2,72,Тюменская область,67159.0,28-02-2024 12:00,20,68,36,68,6423.85
3,72,Тюменская область,47886.0,28-02-2025 12:00,10,43,0,43,4812.98
4,72,Тюменская область,62638.0,28-02-2024 12:00,12,44,41,44,4343.90