[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/4vel/python-intro/blob/main/HomeTask/Task1_dmrf.ipynb)

# Задание
* Собрать информацию о всех строящихся объектах на сайте "наш.дом.рф"
* Cохранить ее в pandas dataframe
* Cохранить pandas dataframe в pickle
* Cохранить pandas dataframe в excel
* Cохранить pandas dataframe в БД


# Поправка
* В случае если не удается/ не получается / не хочется скачать информацию о всех строящихся объектах на сайте "наш.дом.рф", пропустите первые 3 пункта задания. Используйте готовый файл в формате pickle (df_nashfomrf.pkl) и переходите к следующим пунктам

* Если не получается скачать данные с помощью библиотеки requests, но есть желание собрать данные с помощью python, то можно воспользоваться библиотекой selenium, которая извлекает информацию из веб-страниц в браузере.

In [1]:
import requests
import pandas as pd

## Шаг 1й - Получение списка объектов

Т.к. выгрузка из наш.дом.рф не работает сделал выгрузку из Циан см. ниже, чтобы выполнить все задания делаю через приложенную выгрузку

In [2]:
df = pd.read_pickle('df_nashdomrf.pkl')
df.head(2)

,id,hobjId,pdId,region,address,floorMin,floorMax,objElemLivingCnt,objReady100PercDt,wallMaterialShortDesc,...,metro.time,metro.isWalk,metro.colors,complexShortNm,airQualityIndexValue,greenAreaIndexValue,developer.bankruptStage.bankruptStageCd,developer.bankruptStage.bankruptStageDesc,developer.bankruptStage.bankruptLawUrl,developer.orgBankruptMsgDttm
0,13399,34754,28141,72,"г Тюмень, ул Профсоюзная, д. 56",1,1,0,2024-12-31,Другое,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13397,37201,28141,72,"г Тюмень, ул Профсоюзная, д. 56",6,12,65,2024-12-31,Другое,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.dtypes.to_csv('log.txt', sep='\t')
#print(df.columns.values.tolist())

In [4]:
df = df[df['residentialBuildings'] == 0]
df.head(2)

,id,hobjId,pdId,region,address,floorMin,floorMax,objElemLivingCnt,objReady100PercDt,wallMaterialShortDesc,...,metro.time,metro.isWalk,metro.colors,complexShortNm,airQualityIndexValue,greenAreaIndexValue,developer.bankruptStage.bankruptStageCd,developer.bankruptStage.bankruptStageDesc,developer.bankruptStage.bankruptLawUrl,developer.orgBankruptMsgDttm
0,13399,34754,28141,72,"г Тюмень, ул Профсоюзная, д. 56",1,1,0,2024-12-31,Другое,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,45249,125859,530733,77,"г Москва, ш Ленинградское, вл. 69",2,23,0,2025-09-30,Монолит-кирпич,...,21.05,True,[#4FB04F],NaN,NaN,8.0,NaN,NaN,NaN,NaN

In [50]:
# Cохранение pandas dataframe в pickle
df.to_pickle('pickle_file.pickle')

In [51]:
# Cохранение pandas dataframe в excel
df.to_excel('excel_file.xlsx')

# Cохранение pandas dataframe в БД

In [14]:
# Пример взят: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [15]:
df = df.astype(str)
df.to_sql(name='users', con=engine, if_exists='replace', index = False)

1397

Пример №2

In [17]:
#Пример из лекций
import sqlite3

conn = sqlite3.connect('test_database')

In [18]:
df.to_sql('products', conn, if_exists='replace', index = False)
conn.commit()
conn.close()

# Альтернативный источник данных

* Попробуйте собрать датафрэйм об объектах недвижимости с сайта cian.ru, используя репозиторий https://github.com/lenarsaitov/cianparser.git

In [ ]:
# ! pip install git+https://github.com/lenarsaitov/cianparser.git

In [1]:
import cianparser

moscow_parser = cianparser.CianParser(location="Москва")
data = moscow_parser.get_flats(deal_type="sale", rooms=(1, 2), with_saving_csv=True, additional_settings={"start_page":1, "end_page":20})

print(data[0])

                              Preparing to collect information from pages..
The absolute path to the file:
c:\Users\AVV\Documents\Programming\Python\Teach\School_DS\code\teach-scool-ds\Hometask\cian_flat_sale_1_20_moskva_02_Jul_2024_14_27_02_949717.csv

The page from which the collection of information begins:
 https://cian.ru/cat.php?engine_version=2&p=1&with_neighbors=0&region=1&deal_type=sale&offer_type=flat&room1=1&room2=1

Collecting information from pages with list of offers
 1 | 1 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 28. Progress ratio: 5 %. Average price: 300 892 424 rub
 2 | 2 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 56. Progress ratio: 10 %. Average price: 332 164 013 rub
 3 | 3 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 84. Progress ratio: 15 %. Average price: 361 195 076 rub
 4 | 4 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 112. Progress ratio: 20 %. Average price: 376 439 801 rub
 5 | 5 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 140. Progress ratio: 25 %. Average price: 386 436 523 rub
 6 | 6 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 168. Progress ratio: 30 %. Average price: 395 105 529 rub
 7 | 7 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 196. Progress ratio: 35 %. Average price: 400 422 973 rub
 8 | 8 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 224. Progress ratio: 40 %. Average price: 407 550 270 rub
 9 | 9 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 252. Progress ratio: 45 %. Average price: 413 258 739 rub
 10 | 10 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 280. Progress ratio: 50 %. Average price: 416 505 155 rub
 11 | 11 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 308. Progress ratio: 55 %. Average price: 421 768 591 rub
 12 | 12 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 336. Progress ratio: 60 %. Average price: 424 406 249 rub
 13 | 13 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 364. Progress ratio: 65 %. Average price: 426 703 755 rub
 14 | 14 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 392. Progress ratio: 70 %. Average price: 428 934 476 rub
 15 | 15 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 420. Progress ratio: 75 %. Average price: 430 474 029 rub
 16 | 16 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 444. Progress ratio: 80 %. Average price: 432 594 639 rub
 17 | 17 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 470. Progress ratio: 84 %. Average price: 434 592 915 rub
 18 | 18 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 495. Progress ratio: 89 %. Average price: 435 492 425 rub
 19 | 19 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 523. Progress ratio: 94 %. Average price: 438 071 127 rub
 20 | 20 page with list: [=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>=>] 100% | Count of all parsed: 548. Progress ratio: 98 %. Average price: 439 319 683 rub

The collection of information from the pages with list of offers is completed
Total number of parsed offers: 548.
{'author': 'VESPER', 'author_type': 'developer', 'url': 'https://www.cian.ru/sale/flat/262519758/', 'location': 'Москва', 'deal_type': 'sale', 'accommodation_type': 'flat', 'floor': 5, 'floors_count': 21, 'rooms_count': 2, 'total_meters': 110.6, 'price': 103787040, 'district': 'Пресненский', 'street': ' Костикова', 'house_number': '4к1', 'underground': 'Улица 1905 года', 'residential_complex': 'Lucky'}

In [40]:
df2 = pd.DataFrame(data)

In [41]:
df2

,author,author_type,url,location,deal_type,accommodation_type,floor,floors_count,rooms_count,total_meters,price,district,street,house_number,underground,residential_complex
0,VESPER,developer,https://www.cian.ru/sale/flat/262519758/,Москва,sale,flat,5,21,2,110.60,103787040,Пресненский,Костикова,4к1,Улица 1905 года,Lucky
1,SHOW ME,real_estate_agent,https://www.cian.ru/sale/flat/302081797/,Москва,sale,flat,2,10,2,69.40,85000000,Тверской,Палиха,4,Менделеевская,Клубный дом Maison Rouge
2,MR Group,developer,https://www.cian.ru/sale/flat/294196808/,Москва,sale,flat,33,41,2,75.20,38352000,Филевский парк,Багратионовский проезд,5Ак1,Фили,Filicity
3,ID 85604823,unknown,https://www.cian.ru/sale/flat/299429352/,Москва,sale,flat,38,51,2,63.00,36000000,Пресненский,Шмитовский проезд,39к8,Шелепиха,Headliner
4,Галс-Девелопмент,developer,https://www.cian.ru/sale/flat/303040420/,Москва,sale,flat,4,6,2,74.91,124200780,Замоскворечье,Космодамианская набережная,4/22С8,Новокузнецкая,Клубный дом Космо 4/22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
543,Whitewill,real_estate_agent,https://www.cian.ru/sale/flat/296569807/,Москва,sale,flat,50,55,2,42.62,26750000,Марьина роща,4-я Марьиной рощи,12С4,Марьина Роща,Mod
544,Whitewill,real_estate_agent,https://www.cian.ru/sale/flat/297075052/,Москва,sale,flat,50,55,2,42.47,26750000,Марьина роща,4-я Марьиной рощи,12С4,Марьина Роща,Mod
545,TOUCH,developer,https://www.cian.ru/sale/flat/302838431/,Москва,sale,flat,8,13,1,45.55,29049000,Южнопортовый,,к2,Дубровка,Шампайн ЖК
546,Century 21 Premium Property,real_estate_agent,https://www.cian.ru/sale/flat/298749234/,Москва,sale,flat,4,25,2,71.00,30600000,Раменки,Янковского,1к3,Аминьевская,Событие
547,Арт Риэлти,real_estate_agent,https://www.cian.ru/sale/flat/303122846/,Москва,sale,flat,17,22,2,73.30,32000000,Щукино,Щукинская,3,Стрешнево,Интонация

In [19]:
df2.to_csv('csv_file.csv', sep='\t')